/* ---------------------------------------------------------------------------- *\
	All CSS styles for Modesto's Blog.
	
	Author  : Modesto Figuereo Fernandez <figuereo.fernandez.modesto@gmail.com>;
	Licence : GPL v2.0;

	(c) Copyright Modesto Figuereo Fernandez. All rights reserved.
	
\* ---------------------------------------------------------------------------- */






/*-------------------------------------------------------------- *\
	TABLE OF CONTENT
\*-------------------------------------------------------------- */
	/*
	 * RESET
	 * GLOBAL
	 * MAIN CONTAINER
	 */

/*-------------------------------------------------------------- *\
	END OF TABLE OF CONTENT
\*-------------------------------------------------------------- */





/*-------------------------------------------------------------- *\
	RESET
\*-------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}





/*-------------------------------------------------------------- *\
	GLOBAL
\*-------------------------------------------------------------- */

body {
	background-color: #CCC;
	font-family: Arial, Helvetica;
}

.big-text {
	font-size: 32px;
}

.medium-text {
	font-size: 20px;
}

.small-text {
	font-size: 14px;
}




/*-------------------------------------------------------------- *\
	MAIN CONTAINER
\*-------------------------------------------------------------- */

div#main-container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid #A1A1A1;
  box-shadow: 0px 0px 10px #6C6A6A;
}

	header {
	  padding: 8px;
	  background-color: rgb(0, 119, 255);
	}

		.blog-title {
			color: #FFF;
			float: left;
		}

		.nav {
		  list-style: none;
		  /* color: #FFF !important; */
		}

		.nav li {
			display: inline-block;
			margin: 0 10px;
		}

		.nav a {
			color: #FFF;
			text-decoration: none;
		}

		.nav a:hover {
			text-decoration: underline;
		}

		nav.header-navigation {
		  float: right;
		  margin: 0;
		  padding: 0;
		}

		#search-box {
			clear: both;
			text-align: right;
		}

		#search-box-input {
			text-indent: 7px;
			height: 30px;
			width: 266px;
			border: 1px solid rgb(55, 86, 247);
		}

	aside {
	  width: 30%;
	  float: left;
	}
		h4.categories {
		  padding: 19px 0 0px 17px;
		}

		aside ul {
		  padding: 0 37px;
		  list-style: none;
		}

			aside ul li {
			  margin: 9px 0;
			}

				aside ul li a {
					text-decoration: none;
					color: rgb(0, 71, 255);
				}

				aside ul li a:hover {
					text-decoration: underline;
				}

	#article-list {
	  float: right;
	  width: 70%;
	  margin-bottom: 37px;
	}

		article {
		  padding: 7px 39px 15px 10px;
		  text-align: justify;
		  color: #731717;
		}

			.article-title {
			  color: #014714;
			  margin-bottom: 7px;
			}

			span.read-more {
			  padding: 5px;
			  margin: 5px;
			  background: rgb(0, 119, 255);
			  border: 1px solid rgb(18, 90, 171);
			  border-radius: 4px;
			  float: right;
			}

			span.read-more a {
				color: #FFF;
				text-decoration: none;
			}

		.load-more {
		  clear: both;
		  text-align: center;
		  padding-top: 13px;
		}

			.load-more a {
			  padding: 7px;
			  border: 1px solid #9D9D9D;
			  background-color: #BDBDBD;
			  border-radius: 3px;
			  color: #8C2929;
			  text-decoration: none;
			}

	footer {
	  clear: both;
	  padding: 10px;
	  text-align: center;
	  background-color: #CCC;
	  border-top: 1px solid #B2AFAF;
	  color:#731717;
	}

		.footer-nav {
		  padding: 6px 0;
		}

		.footer-nav a {
	  		color:#731717;
		}